<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>casadocodigo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>org.omnifaces.CACHE_SETTINGS_APPLICATION_TTL</param-name>
  	<param-value>900</param-value>
  </context-param>
  
  <security-constraint>
  	<display-name>Administration</display-name>
  	<web-resource-collection>
  		<web-resource-name>administration</web-resource-name>
  		<description>URLs que levam para a administração da loja</description>
  		<url-pattern>/livros/*</url-pattern>
  		<http-method>GET</http-method>
  		<http-method>POST</http-method>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>ADMIN</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>
  			/usuarios/login.xhtml
  		</form-login-page>
  		<form-error-page>
  			/usuarios/login.xhtml
  		</form-error-page>
  	</form-login-config>
  </login-config>
  
  
  
  
</web-app>






